.footer{
    background-color: #2c2936;
    
    

    &__logo{
        width: 50px;
        height: 50px;
        margin-top: 16px;
        margin-left: 50px;
    }
    &__span{
        font-family: 'Lobster', cursive;
        font-size: 60px;
        color: white;
        margin-left: 6px;
    }
    &__redes{
        width: 50px;
        height: 50px ;
    }
    &__aviso{
        font-size: 10px;
        color: white;
        margin-left: 150px;
    }
}
