.gallery{
    position: absolute; 
    height: 100vh;
    width: 100%;
    top: 700px; 

    &__box{
        width: 25%;
        border-radius: 14px;
        overflow: hidden; 
        
    }

    &__img{
        width:100%;
        height: auto; 
    }
}

.container-gallery{
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap; 
}