.header {
  background-color: #2c2936;
  padding: 20px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 50px;
    height: 50px;
  }
  &__span {
    font-family: "Lobster", cursive;
    font-size: 36px;
    color: white;
    margin-left: 8px;
  }
}

@media only screen and (max-width: 676px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;

    &__logo {
     width: 25px;
     height: 25px;
     margin-left: 6px;
    }
    &__span {
      font-size: 18px;
    }
  }
  
  .menu{
    &__flotante{
      //width: 100vw;
      height: 100%;
      display: block;
      &__flotante-img{
        width: 20px;
        height: 20px;
        display: block;
      }
     
    }
  }
}