.hero {
  background-color: #8bba96;
  height: 100vh;
  display: flex;
  align-items: center;
  animation-name: change-background;
  animation-duration: 6s;
  animation-iteration-count: infinite;

  &__title {
    margin-bottom: 30px;
  }

  &__box-text {
    line-height: 1.2;
    margin-bottom: 30px;
    font-size: 24px;
    width: 45%;
  }

  &__image {
    position: absolute;
    right: 150px;
    top: 150px;

    &-elem {
      width: 350px;
      height: 450px;
    }
  }

    &__control {
        display: flex;  
        align-items: center;
    }

    /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c2936;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 320px;
    height: 40px;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: 4px;
  }
  
  &__select{
    font-size: 16px;
    flex: 1;
    padding: 0 .5em;
    color: #f1f1f1;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #4c475a;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  &__option {
    background-color: #d2ba93;
  }

  &__btn-primary{
        color:white;
        display: block;
        margin-left: 8px; 
        background-color: #2C2936;
        border-radius: 4px;
        padding: 11px 16px;
    }

  &__btn-primary:hover {
    background-color: #4c475a;
  }

  &__image-mob {
    display: none;
  }

  @keyframes change-background {
    0% {
      background-color: #8bba96;
    }
    25% {
      background-color: #d2ba93;
    }
    50% {
      background-color: #8bba96;
    }
    100% {
      background-color: #8bba96;
    }
  } 
}

@media only screen and (max-width: 640px) {
  .hero{
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 20px;
      text-align: center;
    }

    &__box-text {
      line-height: 1;
      margin-bottom: 20px;
      font-size: 16px;
      width: 300px;
      height: 200%;
      text-align: center;
    }

    &__image {
      display: none;
    }

    &__image-elem {
      display: none;
      width: 60%;
      height: 100%;
      margin-right: 40px;
    }

    &__image-mob {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60vw;
      height: 30vh;  
    }
    
    &__logo {
      height: 20vh;
    }

    &__span {
      margin-left: 4px;
      color: black;
      font-family: "Lobster", cursive;
      font-size: 36px;
      font-weight: 600;
    }

    &__control {
      display:flex;
      flex-direction: column;
    }

    &__btn-primary {
      height: 37px;
      width: 57px; 
      margin-top: 20px;
      margin-left: 10px;
      padding: 4px;
      font-size: 12px;
    }

    &__box {
      display: flex;
      justify-content: space-around;
    }

    &__interactive {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .select {
    height: 15px; 
    font-size:14px;
    padding: 4px;
    width: 5px;
    margin-left: 10px;
    margin-top: 20px;
  }
}
