.hero {
  background-color: #8bba96;
  height: 100vh;
  display: flex;
  align-items: center;
  animation-name: change-background;
  animation-duration: 6s;
  animation-iteration-count: infinite;

  @media only screen and (max-width: 640px) {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__box-text {
    line-height: 1.2;
    margin-bottom: 30px;
    font-size: 24px;
    width: 45%;
  }

  @media only screen and (max-width: 640px) {
    &__box-text {
      line-height: 1;
      margin-bottom: 20px;
      font-size: 16px;
      width: 300px;
      height: 200%;
      text-align: center;
    }
  }

  &__image {
    position: absolute;
    right: 150px;
    top: 150px;

    &-elem {
      width: 350px;
      height: 450px;
    }
  }

  &__select::-ms-expand {
    display: none;
  }

  &__select {
    appearance: none;
    border: none;
    border-radius: 10px;
    box-shadow: -2px 2px 3px #2c2936;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
  }

  &__option {
    background-color: #d2ba93;
  }

  &__btn-primary {
    color: white;
    display: block;
    margin-top: 20px;
    background-color: #2c2936;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
  }

  &__btn-primary:hover {
    background-color: #4c475a;
  }

  &__image-mob {
    display: none;
  }

  @media only screen and (max-width: 640px) {
    .hero__image-mob {
      display: flex;
      justify-content: center;
      //flex-direction: column;
      align-items: center;
      width: 60vw;
      height: 30vh;
      
      .hero__logo {
        height: 10vh;
        // margin-left: 6px;
        
      }
      .hero__spam {
        margin-left: 4px;
        color: black;
        font-family: "Lobster", cursive;
        font-size: 36px;
        font-weight: 600;

        
      }
    }
  }

  @keyframes change-background {
    0% {
      background-color: #8bba96;
    }
    25% {
      background-color: #d2ba93;
    }
    50% {
      background-color: #8bba96;
    }
    100% {
      background-color: #8bba96;
    }
  }

  @media only screen and (max-width: 640px) {
    .hero {
      display: flex;
      flex-direction: column;

      &__box-text {
        line-height: 1;
        margin-bottom: 20px;
        font-size: 16px;
        width: 300px;
        height: 200%;
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: 640px) {
    .hero__title {
      font-size: 20px;
      text-align: center;
    }
  }

  @media only screen and (max-width: 640px) {
    .hero__image {
      display: none;
    }
  }

  @media only screen and (max-width: 640px) {
    .hero__image-elem {
      display: none;
      width: 60%;
      height: 100%;
      margin-right: 40px;
    }
  }

  @media only screen and (max-width: 640px) {
    .hero__select {
      font-size: 8px;
      height: 15px;
      padding: 5px;
      width: 125px;
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 640px) {
    .hero__btn-primary {
      margin-top: 10px;
      margin-left: 10px;
      padding: 8px;
      font-size: 9px;
    }
  }

  @media only screen and (max-width: 640px) {
    .hero__box {
      display: flex;
      justify-content: space-around;
    }
  }

  @media only screen and (max-width: 640px) {
    .hero__interactive {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 640px) {
    .hero {
      background-color: #8bba96;
      height: 100vh;
      display: flex;
      flex-direction: column;
      animation-name: change-background;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }
  }
}
