
.container{
    max-width: 500px;
    margin: 0 auto;
}

.header{
    background-color: #2C2936;

    &__logo{
        width: 20px;
        height: 20px;
        border: 1px white solid; 
    }
}

.main{
    background-image: url("../../dist/images/popeye.png");
    background-repeat: no-repeat;
   height: 600px;
}