.menu {
  &__list {
    display: flex;
  }

  &__item {
    margin-left: 40px;
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }
  
  @media only screen and (max-width: 676px) {
    display: none
  }
}

.menu__flotante {
  display: none;
  @media only screen and (max-width: 676px) {

      display: block;
  }
}



